#Atmel Studio Build Directories
#[Dd]ebug/
#[Rr]elease/

#Atmel Studio Build Results
*.o
*.d
#*.eep
#*.elf
#*.hex
*.lss
*.map
*.srec
*.mk
Makefile

#Atmel Studio User Specific Files
*.atsuo

# Windows files
Thumbs.db
Desktop.ini

# Mac files
.DS_Store
